{% for idp in j2_vals %}
 - fqdn: "{{ j2_vals[idp]['fqdn'] }}"
   port_name: "port-{{ j2_vals[idp]['fqdn'] }}"
   ip_priv: "{{ j2_vals[idp]['ip_priv'] }}"
   ip_pub: "{{ j2_vals[idp]['ip_pub'] }}"
   boot_volume:
    name: "boot-vlm-{{ j2_vals[idp]['fqdn'] }}"
    size: "{{ j2_vals[idp]['boot_vlm_size'] }}"
    image: "{{ j2_vals[idp]['boot_vlm_image'] }}"
{% if j2_vals[idp]['data_vlm_size'] %}
   data_volume:
    name: "data-vlm-{{ j2_vals[idp]['fqdn'] }}"
    size: "{{ j2_vals[idp]['data_vlm_size'] }}"
{% endif %}
   flavor: "{{ j2_vals[idp]['flavor'] }}"
   key_name: "idpcloud"
   security_groups:
{% if j2_vals[idp]['sec_groups'][0] == '' %}
    - "default"
{% else %}
{% for sg in j2_vals[idp]['sec_groups'] %}
    - "{{ sg }}"
{% endfor %}
{% endif %}
   state: "{{ j2_vals[idp]['state'] }}"
{% endfor %}
